---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.4
  name: routes.gomaproj.github.io
spec:
  group: gomaproj.github.io
  names:
    kind: Route
    listKind: RouteList
    plural: routes
    singular: route
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: Route is the Schema for the routes API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: RouteSpec defines the desired state of a route.
            properties:
              backends:
                description: Backends specifies a list of backend URLs for load balancing.
                items:
                  type: string
                type: array
              blockCommonExploits:
                description: BlockCommonExploits enables or disables blocking common
                  exploits, such as basic SQL injection or XSS attempts.
                type: boolean
              cors:
                description: Cors specifies the CORS (Cross-Origin Resource Sharing)
                  configuration for the route.
                properties:
                  headers:
                    additionalProperties:
                      type: string
                    description: Headers contains custom headers
                    type: object
                  origins:
                    description: Cors contains Allowed origins,
                    items:
                      type: string
                    type: array
                type: object
              destination:
                description: Destination defines the backend URL to which requests
                  will be proxied.
                type: string
              disableHostFording:
                description: |-
                  DisableHostFording disables host forwarding for this route.
                  Deprecated: Use DisableHostForwarding instead.
                type: boolean
              disableHostForwarding:
                description: DisableHostForwarding disables forwarding the host header
                  to the backend.
                type: boolean
              disabled:
                description: Disabled specifies whether the route is disabled.
                type: boolean
              enableBotDetection:
                description: EnableBotDetection enables or disables bot detection.
                type: boolean
              errorInterceptor:
                description: ErrorInterceptor defines the configuration for handling
                  backend error interception.
                properties:
                  contentType:
                    type: string
                  enabled:
                    type: boolean
                  errors:
                    items:
                      properties:
                        body:
                          type: string
                        code:
                          type: integer
                      required:
                      - code
                      type: object
                    type: array
                required:
                - enabled
                type: object
              gateway:
                description: Gateway specifies the name of the Gateway resource associated
                  with this route.
                type: string
              healthCheck:
                description: HealthCheck defines the settings for backend health checks.
                properties:
                  healthyStatuses:
                    items:
                      type: integer
                    type: array
                  interval:
                    type: string
                  path:
                    type: string
                  timeout:
                    type: string
                type: object
              hosts:
                description: Hosts defines a list of domains or hosts for host-based
                  request routing.
                items:
                  type: string
                type: array
              insecureSkipVerify:
                description: InsecureSkipVerify allows skipping TLS certificate verification
                  for backend connections.
                type: boolean
              methods:
                description: Methods specifies the HTTP methods allowed for this route
                  (e.g., GET, POST, PUT).
                items:
                  type: string
                type: array
              middlewares:
                description: Middlewares specifies a list of middleware names to apply
                  to this route.
                items:
                  type: string
                type: array
              path:
                description: Path specifies the route path.
                type: string
              rateLimit:
                description: RateLimit defines the maximum number of requests allowed
                  per minute for this route.
                type: integer
              rewrite:
                description: Rewrite specifies the new path to rewrite the incoming
                  route path to.
                type: string
            required:
            - gateway
            - path
            type: object
          status:
            description: RouteStatus defines the observed state of Route.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
